<app-header></app-header>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<table class="table table-bordered2">
    <thead>
        <tr>
            <th>Date</th>
            <th>Confirmed Cases</th>
            <th>Deceased Cases</th>
            <th>Recovered Cases</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let state of states.cases_time_series">
            <td>{{state.date}}</td>
            <td>{{state.dailyconfirmed}}</td>
            <td>{{state.dailydeceased}}</td>
            <td>{{state.dailyrecovered}}</td>
           
        </tr>
        
    </tbody>
    </table>

    <br><br><br><br>
