/* Overall stats */

#stats{
    margin:34px;
    display: flex;

}

#stats .box {
    border: 2px solid rgb(85, 79, 79);
    padding: 20px 20px;
    margin: 15px;
    border-radius: 2px;
    background: rgb(166, 168, 170);
    font-family: 'Baloo Chettan 2';
    
}   

#stats .box img{

    height: 160px;
    margin: auto;
    display: block;

}




/*Table */

#table .h-primary {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: .9rem;
    justify-content: space-between;
    position: relative;
    margin: 5rem;
}


/* Utility classes */

.h-primary{
    /* font-family: 'Baloo Chettan 2', cursive; */
    font-size:3.8rem;
    padding: 12px;

}

.h-secondary{
    /* font-family: 'Baloo Chettan 2', cursive; */
    font-size:2.5rem;
    padding: 12px;

}

.center{
    text-align: center;
}